.ChatContainers {
  padding: 1px;
}
  
.UsersCard {
  margin: 5px 20px;
  background-color: rgba(254, 255, 255, 0.603);
  box-shadow: -4px 10px 35px -1px rgba(0, 0, 0, 0.75);
}

.boxShadows {
  box-shadow: -4px 10px 35px -1px rgba(0, 0, 0, 0.75);
}
  
footer.StickyFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #e45dff63;
  border-top: solid 1px #efefef;
  height: 55px;
}
  
.MessageForm {
  margin-left: 5px;
  width:80vw;
  float: right;
}
  
.MessageBox {
  float: left;
  width: 98%;
  margin: 5px 0 0 2%;
}
  
.MessageBox .ChatMessage {
  width: 50vw;
  height: max-content;
}
  
.MessageBox .ChatMessage .RightBubble {
  position: relative;
  background: #c97ec9;
  border-top-left-radius: .4em;
  border-bottom-left-radius: .4em;
  border-bottom-right-radius: .4em;
  padding: 5px 10px 10px;
  left: 20vw;
}
  
.MessageBox .ChatMessage .RightBubble span.MsgName {
  font-size: 12px;
  font-weight: bold;
  color: rgb(0, 3, 0);
}
.MessageBox .ChatMessage .RightBubble span.MsgDate {
  font-size: 15px;
}
  
.MessageBox .ChatMessage .RightBubble:after {
  content: '';
  position: absolute;
  right: 0;
  top: 13px;
  width: 0;
  height: 0;
  border: 27px solid transparent;
  border-left-color: #c97ec9;
  border-right: 0;
  border-top: 0;
  margin-top: -13.5px;
  margin-right: -27px;
}
.MessageBox .ChatMessage .LeftBubble {
  position: relative;
  background: rgba(255, 255, 255, 0.877);
  border-top-right-radius: .4em;
  border-bottom-left-radius: .4em;
  border-bottom-right-radius: .4em;
  padding: 5px 10px 10px;
  left: 5%;
}
.MessageBox .ChatMessage .LeftBubble span.MsgName {
  font-size: 12px;
  font-weight: bold;
}
.MessageBox .ChatMessage .LeftBubble span.MsgDate {
  font-size: 10px;
}
.MessageBox .ChatMessage .LeftBubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 13px;
  width: 0;
  height: 0;
  border: 27px solid transparent;
  border-right-color: rgba(255, 255, 255, 0.877);;
  border-left: 0;
  border-top: 0;
  margin-top: -13.5px;
  margin-left: -27px;
}
  
.MessageBox .ChatStatus {
  min-height: 49px;
}

.MessageBox .ChatStatus .ChatDate {
  display: block;
  font-size: 10px;
  font-style: italic;
  color: rgb(0, 0, 0);
  height: 20px;
  left: 10%;
  right:10%;
}
  
.MessageBox .ChatStatus .ChatContentCenter {
  padding: 5px 10px;
  background-color: #ffffffbd;
  border-radius: 6px;
  font-size: medium;
  color: rgb(0, 0, 0);
  height: 34px;
  left: 10%;
  right:10%;
}

.ChatContent {
  overflow-y: scroll;
  height: calc(100vh - 110px);
  background-color: #ffffff8f;
  width: 100%;
}

.wholePage {
  background-image: url("blossomTree.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
.chatPage {
  background-image: url("https://images.unsplash.com/photo-1528756514091-dee5ecaa3278?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

.callPage {
  background-image: url("https://images.unsplash.com/photo-1522748906645-95d8adfd52c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

.roomBtn {
  min-width: 40vw;
  border-radius: 6px;
  font-size: larger;
}

.aboutContainer {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 80%;
  min-width: fit-content;
  margin-bottom: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 20px 15px;
  background-color:rgba(85, 7, 95, 0.37);
  border-radius: 10px;
  box-shadow: -4px 10px 35px -1px rgba(0, 0, 0, 0.75);
  font-size:larger;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width:max-content;
  padding: 50px 50px;
  background-color:rgba(22, 20, 18, 0.37);
  border-radius: 10px;
  box-shadow: -4px 10px 35px -1px rgba(0, 0, 0, 0.75);
  font-size:larger;

}

.chatPanel {
  background-color:#a200ff79;
  width: 20vw;
  padding: 5px;
  box-shadow: -4px 10px 35px -1px rgba(0, 0, 0, 0.75);
  border-radius: 6px;

}

.usersOnline {
  background-color:rgba(255, 255, 255, 0.767);
  border-radius: 6px;
  padding: 5px;
}

.headingBreak {
  margin-bottom: 15px;
  padding: 5px;
}

.fullHeading {
  width:100vw;
}